@use '/src/components/constants.scss' as c;

body {
    font-family: 'Roboto', sans-serif;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    height: 100%;
}

footer {
    grid-area: footer;
}
