main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    padding: 0 1em;
    gap: 2em;
}

h1,
h2,
h3 {
    text-align: center;
}
