nav {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: rgb(26, 26, 26);
                transition: color 0.3s ease;
                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }
    }
}
